

<div class="row">
    <div class="col-sm-3">
        <%= link_to "Regist New Driver", new_driver_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">
        <%= link_to "List Drivers", drivers_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div>   
</div>
<hr>
<div class="row">

    <div class="col-sm-3">
        <%= link_to "List Truck", truckindex_admin_index_path , class: 'btn btn-danger width100' %>
    </div>
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-3">&nbsp;</div> 
</div>








<hr>

<hr>



<hr>

<div class="row">
    
    <div class="col-sm-3">
        <%#= link_to "Add New Admin", newadmin_path, class: "btn btn-danger width100" %>
    </div>
    
</div>



</div>