<%= render 'admin/backtoadmin' %>
<h1>Evaluation Parameters</h1>

<% if @companies.any? %>
<div class="row mb-3">
    <% @companies.each do |e| %>
        <% btc = @target_c.id == e.id ? "btn-warning" : "btn-danger" %>
        
        <div class="col-2 mb-1">
            <%= link_to ((c = array_find_by(@companies, e.id)) ? c.name_e.truncate(22) : ""),
                evalparams_path(company: e.id),
                class: "btn #{btc} btn-block" %>
        </div>
    <% end %>
</div>

<div class="row bgwhite">
   <%= render 'form' , evalparam: @evalparam %>
</div>


<% else %>
  No Company detected
<% end %>
