<h2><%=  find_company(@company_id).name_e %></h2> 
<div class="bgwhite row mt-4">
    
    <% if @drivers.any? %>

        <% @branches.each do |branch| %>
        <div class="btn btn-danger w-100 mb-2"><%= find_branch(@company_id, branch.to_i).name %></div>
            <div class="row">
                <% @drivers.each do |driver| %>
                    <% if !driver.evaluates.empty? %>
                        <div class="col-md-4 text-center mb-2">
                            <%#= link_to driver.name, evaluates_driver_path(driver.id), class:"btn btn-xs btn-primary w-75" %>
                            <%= link_to driver.name, yearlyevaluates_driver_path(driver.id), class:"btn btn-xs btn-primary w-75" %>
                        </div>
                    <% else %>
                        <div class="col-md-4 text-center mb-2">
                            <span class="btn btn-xs btn-warning w-75"><%= driver.name %></span>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>

    <% end %>
    
</div>