<div class="bg-white">
<% if @allcompanies.any? %>
    <table class="offset-1 col-10 table table-striped table-bordered">
    <% @allcompanies.each do |company| %>
     <tr>
         <td class="w-75">
             <% @company = Company.new(company) %>
             <%= link_to @company.name_e, new_checkschedule_path(company: @company.id), class:'btn btn-success w-100' %>
         </td>
         <td class="w-25">
            <% @checkschedules = Checkschedule.where(company_id: @company.id) %>
            <% if @checkschedules.empty? %>
              None
            <% else %>
              Exist
            <% end %>
         </td>
     </tr>
    <% end %>
    </table>
<% else %>
    <h1>Coundn't get companies list</h1>
<% end %>
</div>