 <div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
     <h2>
         Data was deleted
     </h2>
     <%= link_to 'Regist', new_driver_path,  class: 'btn btn-danger btn-block' %>
    
  </div>
</div>