 <div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
     <h2>
         Data was deleted
     </h2>
　   <%= f.submit 'Regist', class: 'btn btn-danger btn-block' %>
    <% end %>
　
　</div>
</div>
         