/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {background-color: darkred;
}

container {background-color:darkred;
}

text center{
    color: darkred;
}

jumbotron {
    background-color: darkred;
}

/*  20201205 Higuchi added */

.bgwhite, .bg-white {
    background-color: white;
    color: black;
}

.bg-red {
    background-color: darkred;
    color: white;
}

.bg-red form {
    color: white;
}

.bg-red p,
.bg-red th,
.bg-red td{
    color: white;
}
/*  added kokomade */

h1{
    font-family: Georgia;
    line-height: 1;
    color: yellow;
    font-size: 5em;
    background-color: darkred;
}

h2 {
    font-family: Georgia;
    line-height: 1;
    color: yellow;
    font-size: 3em;
    background-color: darkred;
}
 

.w-10 {
    width: 10%!important;
}
.w-40 {
    width: 40%!important;
}
    
#modal-example {
    color: #000;
} 

#modal-example form {
    color: #000;
}



.alert {
    background-color: white;
}

.alert-error {
    background-color: pink;
}

form#lampStopperTire > div:nth-child(6) > label,
form#lampStopperTire > div:nth-child(7) > label,
form#lampStopperTire > div:nth-child(8) > label {
    margin-bottom: 0;
}

.dphoto {
    height: 8.0rem;
}

.monthlyeval td {
    padding: 0.25rem;
}

.yellowbg {
    text: black;
    background-color: yellow;
}

.greenbg {
    text: black !important;
    background-color: #82ca3f !important;
}

.font1_5rem {
    font-size: 1.5rem;
}

.weekhead {
    padding: 0.5rem !important;
}

/* evaluationparams controller */
.slider {
    width: 95%;
    margin-left: 1em;
}
.slider-range {
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: grey;
}
.min, .max {
    width: 50px;
    text-align: center;
}