  <!-- モーダルの配置 -->
  <div class="modal" id="modal-example" tabindex="-1">
      <div class="modal-dialog">
  
          <!-- モーダルのコンテンツ -->
          <div class="modal-content">
              <!-- モーダルのヘッダ -->
              <div class="modal-header">
                  <h5 class="modal-title">Data Input</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!-- モーダルのボディ -->
              <div class="col-sm-12">
              <div id="modal-body">
                  <!-- ここにモーダル内容 -->
              </div>
              </div>
              <!-- モーダルのフッタ -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>